.search-bar-container {
  // margin-bottom: 32px;
  padding-left: 0;
  padding-right: 0;
  .search-bar-input {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  }
}
//
// .search-inputnav {
//   margin-top: 0.5rem;
//   padding: 0;
// }
//
.details-nav {
  margin-top: 1.75rem;
}


.filter-bar-container {
  margin-bottom: 32px;

  .filter-inputbox {
    @include for-screen('mobile') {
      margin-top: 32px;
    }

    @include for-screen('tab') {
      margin-top: 24px;
    }
  }
}

.query-inputbox {
  @include padding(24px, 24px, 32px, 32px);
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 1.638px 1.147px 8px 0 rgba(235, 101, 108, 0.2);
  left: 0;
  margin-bottom: -18px;
  position: relative;
  top: 0;
  width: 100%;

  input {
    border: 0;
    color: $theme-grey;
    font-size: 19px;
    width: 81%;
  }
}

.search-title-container {
  color: #fff;
  padding-top: 8px;
}
