.search-title-container {
  color: #fff;
  
  .badge-primary {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    cursor: pointer;
    color: $theme-black;
  }

}
