<div class="search-bar" ng-init="vm.getCities()">
	<div class="search-bar-input">
		<i class="fa fa-search search-icon"></i>
		<select class="city-select search-loader-icon" name="repeatSelect" ng-model="location">
			<option value="" class="option-label">Select City</option>
			<option ng-repeat="(key, value) in vm.cities" value="{{key}}">{{value}}</option>
		</select>
		<input type="text" ng-model="query" placeholder="Search.." />
	</div>

	<div class="search-typeahead-container" ng-if="query" ng-init="area = location ? location : 'india'">
		<div>

			<ul class="typeahead-list">

				<!-- with an api that can facilitate, this section can be converted into a directive and a clean code -->
				<!-- something like <search-typeahead data="data" query="query"></search-typeahead> -->

				<li class="list-header" ui-sref="search({city: area, entity: 'healthcare', q: query})">
					<span class="list-title text-uppercase">Found for <b>Healthcare</b></span>
					<i class="primary-divider fa fa-minus"></i><i class="primary-divider _path2 fa fa-minus"></i>
					<span class="list-count pull-right primary-tag" >View All <b>10</b></span>
				</li>

				<li class="list-header" ui-sref="search({city: area, entity: 'education', q: query})">
					<span class="list-title text-uppercase">Found for <b>Education</b></span>
					<i class="primary-divider fa fa-minus"></i><i class="primary-divider _path2 fa fa-minus"></i>
					<span class="list-count pull-right primary-tag">View All <b>25</b></span>
				</li>

				<li class="list-header" ui-sref="search({city: area, entity: 'demographics', q: query})">
					<span class="list-title text-uppercase">Found for <b>Demographics</b></span>
					<i class="primary-divider fa fa-minus"></i><i class="primary-divider _path2 fa fa-minus"></i>
					<span class="list-count pull-right primary-tag">View All <b>68</b></span>
				</li>

				<li class="list-header" ui-sref="search({city: area, entity: 'agriculture', q: query})">
					<span class="list-title text-uppercase">No result found for <b>Agriculture</b></span>
					<i class="primary-divider fa fa-minus"></i><i class="primary-divider _path2 fa fa-minus"></i>

				</li>

				<li class="list-header" ui-sref="search({city: area, entity: 'economy', q: query})">
					<span class="list-title text-uppercase">Found for <b>Economy</b></span>
					<i class="primary-divider fa fa-minus"></i><i class="primary-divider _path2 fa fa-minus"></i>
					<span class="list-count pull-right primary-tag">View All <b>8</b></span>
				</li>

			</ul>

		</div>


		<div class="typeahead-footer text-center">
			<div class="typeahead-search-more" ui-sref="search({city: area, entity: 'all', q: query})">
				<i class="fa fa-search search-icon"></i>
				<span class="message">Search all dataset for <b>"{{query}}"</b> </span>
			</div>
		</div>

	</div>
</div>

<script type="text/javascript">
	$('body').on('click', function(e){

		var container = $(".search-bar");

    if (!container.is(e.target) && container.has(e.target).length === 0) {
      $('.search-typeahead-container').hide();
    } else {
    	$('.search-typeahead-container').show();
    }

	});
</script>
