<div class="search-item-card">

    <div class="row">

      <div class="col-md-8">
        <h3>
          <img src="http://loremflickr.com/50/50?random=1" alt="dataset-img" class="img-circle"/>
          <span class="item-card-title"><a href>Title of this Search item Card</a></span>
        </h3>
      </div>
      <div class="col-md-4 text-right">
        <span class="search-tags">Healthcare</span> <span class="search-tags">Agriculture</span>
      </div>

    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="meta-container">
          <div class="row">
            <div class="col-md-4">
              <b>Granuality</b>: State
            </div>
            <div class="col-md-4">
              <b>Sector</b>: Urban
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b>Frequency of Data</b>: High
            </div>
            <div class="col-md-4">
              <b>Time Period</b>: 1998-2015
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 search-item-desc">
              <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!-- <img class="img-responsive data-set-img" src="http://loremflickr.com/280/245?random=1" alt="dataImg" /> -->
        <ul class="list-group meta-list-group">
          <li class="list-group-item"><b><a href>Data Source </b><i class="fa fa-external-link"></i> </a></li>
          <li class="list-group-item"><b>Released: </b> 5<sup>th</sup>, March 2014</li>
          <li class="list-group-item">  <b>Records upto: </b> 9<sup>th</sup>, January 2012</li>
          <li class="list-group-item"><b>Total Records: </b> 25,946</li>
        </ul>

      </div>
    </div>

    <div class="row detail-list-container text-left">
      <div class="col-md-8">
        <div class="col-md-1 service-item" ng-repeat="item in data.services">
            <span class="badge" ng-class="{'color-badge' : item.available , 'grey-badge' : !item.available}">{{item.service}}</span>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <a href>See Details</a>
      </div>
    </div>

</div>
