<div class="search-item-card">

    <div class="row">

    <div class="container-fluid">
      <div class="col-md-8 col-xs-12">
        <h3>
          <img ng-src="{{data.dataset.image}}" alt="D" class="img-circle"/>
          <span class="item-card-title"><a  ui-sref="details({id: data.id})">{{data.title}}</a></span>
        </h3>
      </div>
      <div class="col-md-4 col-xs-12 text-right tags">
        <span class="search-tags" ng-repeat="tag in data.tags">{{tag}}</span>
      </div>
    </div>

    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="meta-container">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
              <b class="meta-title">Granuality</b>: {{data.granuality}}
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <b class="meta-title">Sector</b>: {{data.sector}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
              <b class="meta-title">Frequency of Data</b>: {{data.frequency}}
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <b class="meta-title">Time Period</b>: {{data.time_period}}
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 search-item-desc">
              <small>{{data.description}}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="list-group meta-list-group">
          <li class="list-group-item"><b><a href >{{data.dataset.source}} </b><i class="fa fa-external-link"></i> </a></li>
          <li class="list-group-item"><b>Released: </b> {{data.dataset.released | date: 'dd/mm/yyyy'}}</li>
          <li class="list-group-item">  <b>Records upto: </b>{{data.dataset.records_upperbound | date: 'dd/mm/yyyy'}}</li>
          <li class="list-group-item"><b>Total Records: </b> {{data.dataset.total_records}}</li>
        </ul>

      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-xs-12 detail-list-container text-left">
        <div class="col-md-1 col-xs-3 col-sm-3 service-item" ng-repeat="item in data.services">
            <span class="badge" ng-class="{'color-badge' : item.available , 'grey-badge' : !item.available}">{{item.service}}</span>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 text-right">
        <button class="btn btn-accent" ui-sref="details({id: data.id})">See Details</button>
      </div>
    </div>

</div>
