// Fonts
$primary-font: 'Muli', sans-serif;
$title-font: 'Muli', sans-serif;

// Colors
$primary-color-dark:   #00796B;
$primary-color:        #009688;
$secondary-color:      #B2DFDB;
$primary-color-text:   #FFFFFF;
$accent-primary:       #00BCD4;
$theme-black:          #212121;
$theme-grey:           #757575;
$light-grey:           #A8A8A8;
$divider-color:        $primary-color-dark;
