.search-item-card {
  background-color: #fff;
  padding: 2rem;
  margin: 1.5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  .item-card-title {
    position: absolute;
    margin-top: 5px;
    padding-left: 1rem;
  }

  .title-img {
    @include for-screen('tab') {
      margin-top: 5px;
    }
  }

  .tags {
    @include for-screen('tab') {
      margin-top: 4rem;
      text-align: left;
    }
    
  }


  .search-item-desc {
    margin-top: 32px;
  }

  .meta-container {
    // background-color: $theme-grey;
    padding: 2rem;
    // color: #fff;
    color: $theme-grey;
    margin-top: 1rem;

    .meta-title {
      color: $primary-color;
    }

    @include for-screen('tab') {
      margin-top: 3rem;
    }

    @include for-screen('mobile') {
      margin-top: 3rem;
    }
  }
  .data-set-img{
    margin-top: 1rem;
  }

  .meta-list-group {
    margin-top: 3rem;
  }

}

.detail-list-container {
  @include padding(1rem, 1rem, 0, 0);

  &.resources-container {
    padding-left: 15px!important;
  }

  .service-item{
    width: auto;

    .badge {
      color: $primary-color-text;
    }
  }

}
