.article-meta {
  padding: 1.5rem;
}

.item-summary {
  margin-top: 3rem;
}

.details-nav{
    background: transparent;
}

.detail-page-services {
  // padding-left: 0;
  padding-top: 0;
  .service-item {
    // padding-left: 0;
    padding-top: 0;
    margin-right: -15px;
    margin-bottom: 5px;
  }
}

.dataset-img {
  width: 200px;
  height: auto;
}


.service-list {
  .service-list-item {
    margin-left: 1rem;

    a {
      color: $primary-color-text;
    }
  }
}

.item-details {
  padding-top: 2rem;
  padding-left: 1rem;

  .media-heading {
    padding-top: 1rem;
    a {
      color: $theme-grey;
    }
    small{
      color: $theme-grey;
    }

    .item-details-date{
      font-size: 2rem;
    }
  }

  .meta-summary {
    padding-top: 1.25rem;
  }

  .item-lead {
    mark {
      padding: 1rem;
      background: lighten($secondary-color, 10%);
    }
  }


  .item-details-tags {
    .search-tags {
      border-color: $primary-color;
      color: $primary-color;

      &:hover,
      &:focus,
      &:active {
        color: darken($primary-color, 15%);
      }
    }
  }

  .item-meta-title {
    padding-top: 3rem;
    mark {
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }
  }

  .chart-list {
    margin-left: 0.25rem;
  }

  .topic-list-title {
    margin-top: 10px;
    margin-bottom: 5px;

  }
  .topic-list {
    margin-top: 20px;

    .topic-list-item {
      margin-bottom: 15px;
      a{
        color: $theme-black;
      }
      mark {
        border-radius: 2px;
        padding: 5px;
        background: #D6EEEC;
      }
    }
  }


}
.tag-list {

  .tag-list-item {
    color: $accent-primary;
    border: 1px solid $accent-primary;
    border-radius: 2rem;
    @include padding(5px, 5px, 10px, 10px);
    cursor: pointer;
    margin-bottom: 1rem;
    margin-right: 1rem;

    &:hover,
    &:focus,
    &:active {
      color: darken($accent-primary, 15%);
      border-color: darken($accent-primary, 15%);
    }
  }

}
