.article-meta {
  padding: 1.5rem;
}

.detail-page-services {
  padding-left: 0;
  padding-top: 0;
}

.service-list {
  .service-list-item {
    margin-left: 1rem;

    a {
      color: $primary-color-text;
    }
  }
}

.item-details {
  padding-top: 2rem;
  padding-left: 1rem;

  .media-heading {
    padding-top: 1rem;
    a {
      color: #efefef;
    }
    small{
      color: #fff;
    }

    .item-details-date{
      font-size: 2rem;
    }
  }

  .meta-summary {
    padding-top: 1.25rem;
  }

  .item-summary-blockquote {
    border-color: #efefef;
  }

  .item-lead {
    mark {
      padding: 1rem;
      background: lighten($secondary-color, 10%);
    }
  }

  .item-details-tags {
    .search-tags {
      border-color: #fff;
      color: #fff;

      &:hover,
      &:focus,
      &:active {
        color: darken(#fff, 15%);
      }
    }
  }

  .item-meta-title {
    padding-top: 3rem;
  }

  .chart-list {
    margin-left: 0.25rem;
  }

  .topic-list-title {
    margin-top: 10px;
    margin-bottom: 5px;

  }
  .topic-list {

    .topic-list-item {
      margin-bottom: 15px;

      mark {
        border-radius: 2px;
        padding: 5px;
      }
    }
  }

  .tag-list {

    .tag-list-item {
      color: $accent-primary;
      border: 1px solid $accent-primary;
      border-radius: 2rem;
      @include padding(5px, 5px, 10px, 10px);
      cursor: pointer;
      margin-bottom: 1rem;
      margin-right: 1rem;

      &:hover,
      &:focus,
      &:active {
        color: darken($accent-primary, 15%);
        border-color: darken($accent-primary, 15%);
      }
    }

  }

}
