<li class="chart-list-item">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object"  class="img-responsive" src="assets/img/chart-list-item-fallback.png" alt="assets/img/chart-list-item-fallback.png">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Table in this Dataset converted to chart Title</h4>
      <span class="chart-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
      <div class="chart-meta">
        <b>Containing Data: </b> Yearly data
      </div>
      <div class="chart-meta">
        <b>Time Period: </b> 1999-2005
      </div>
    </div>
  </div>
</li>
