<li class="chart-list-item">
  <div class="media">
    <div class="media-left col-md-2 col-xs-12">
      <svg-sparkline ng-if="data.svg.path" class="media-object chart-svg">  <svg width="170.0" height="100.0" viewBox="-1 -1 102 60" preserveAspectRatio="none">
        <path class="svg-line" d="{{data.svg.path}}" stroke="#3E9B87" fill="transparent"></path></svg>
      </svg-sparkline>
      <a href="#" ng-if="!data.svg.path">
        <img class="media-object"  class="img-responsive" src="assets/img/chart-list-item-fallback.png" alt="assets/img/chart-list-item-fallback.png">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{data.title}}</h4>
      <span class="chart-item-desc">{{data.description}}</span>
      <div class="chart-meta">
        <b>Containing Data: </b> {{data.data}}
      </div>
      <div class="chart-meta">
        <b>Time Period: </b> {{data.time_period}}
      </div>
    </div>
  </div>
</li>
