<div class="row-fluid">
  <div class="container-fluid search-bar-container">
    <div class="navbar navbar-static-top search-inputnav">
      <search-bar></search-bar>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
      <ol class="breadcrumb details-nav">
        <li class="breadcrumb-item"><a ui-sref="home">Home</a></li>
        <li class="breadcrumb-item"><a ui-sref="search({city: vm.params.city, entity: vm.params.entity, q: vm.params.q})">Search</a></li>
        <li class="breadcrumb-item active">Details</li>
      </ol>
  </div>
</div>
<!--
<div class="row-fluid filter-bar-container">

  <div class="container-fluid">
    <div class="col-md-12 col-sm-12">
      <div class="text-left search-title-container">
        <h3>
          <b>
            <ul class="tag-list list-inline">
              <li class="tag-list-item"  ng-repeat="key in vm.details.search_tags" >
                <h4>{{key}}</h4>
              </li>
            </ul>
          </b>
        </h3>
      </div>
    </div>
  </div>

</div> -->

<div class="row" ng-init="vm.getData()">
  <div class="container">
    <div class="col-sm-12">
      <div class="jumbotron card item-details">

        <div class="row  item-summary ">
          <div class="media">
            <div class="media-left hidden-xs">
              <a href>
                <img ng-src="{{vm.details.data_source.image}}" alt="img" class="media-object dataset-img"/>
              </a>
            </div>
            <div class="media-body horizontal-padding">
              <h2 class="media-heading">
                {{vm.details.title}}
                <small>( <a ng-href="{{vm.details.data_source.slug}}">{{vm.details.data_source.author}} <small><i class="fa fa-external-link"></i></small></a> )</small>
                <small class="pull-right item-details-date vertical-padding"><b>Released:</b> {{vm.details.about.meta.released | date : 'dd/MM/yyyy'}}</small>
              </h2>

              <ul class="list-inline item-details-tags">
                <li><span class="search-tags">Healthcare</span></li>
                <li><span class="search-tags">Agriculture</span></li>
                <li><span class="search-tags">Climate</span></li>
              </ul>

              <div class="row meta-summary">

                <div class="col-md-7 col-sm-7 col-xs-12">
                  <h2 class="lead topic-list-title"> Data included </h2>
                  <ul class="list-inline topic-list">
                    <li class="topic-list-item topics" ng-repeat="item in vm.details.topics">
                      <mark> <a href>{{item}}</a> </mark>
                    </li>
                  </ul>
                </div>

                <div class="col-md-5 col-sm-5 col-xs-12">
                  <h2 class="lead topic-list-title"> Resources </h2>
                    <div class="details-meta-summary">
                      <div class="detail-list-container detail-page-services text-left row">
                        <div class="col-md-1 col-xs-1 col-sm-1 service-item" ng-repeat="item in vm.details.services">
                          <span class="badge" ng-class="{'badge-accent' : item.available , 'grey-badge' : !item.available}">{{item.service}}</span>
                        </div>
                      </div>
                    </div>
                </div>
              </div>


            </div>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-md-12">
            <h2 class="lead item-lead  item-meta-title"><mark>About this Database</mark></h2>
          </div>
          <div class="col-md-7">
            <blockquote>
              {{vm.details.about.description}}
            </blockquote>
          </div>
          <div class="col-md-5">
            <blockquote>
              <ul class="list-group meta-list-group">
                <li class="list-group-item"><b>Released: </b> {{vm.details.about.meta.released | date : 'dd/MM/yyyy'}}</li>
                <li class="list-group-item">  <b>Records upto: </b>{{vm.details.about.meta.records_upto | date : 'dd/MM/yyyy'}}</li>
                <li class="list-group-item"><b>Time Period </b> {{vm.details.about.meta.time_period}} </li>
              </ul>
            </blockquote>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-md-12">
            <h2 class="lead item-lead  item-meta-title"><mark>Access Use and Information</mark></h2>
          </div>
          <div class="col-md-12">
            <blockquote>
              <span ng-if="vm.details.legal.type === 'Public'">
                <div><i class="fa fa-globe"></i> <b>Public:</b> This dataset is intended for public access and use.</div>
              </span>
              <span ng-if="vm.details.legal.type === 'Private'">
                <div><i class="fa fa-globe"></i> <b>Private:</b> This dataset is intended for Private access and use only.</div>
              </span>


              <div><i class="fa fa-file-text-o"></i> <b>License:</b> {{vm.details.legal.licence}}</div>
            </blockquote>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-md-12">
            <h2 class="lead item-lead  item-meta-title"><mark>Download Resource</mark></h2>
          </div>
          <div class="col-md-12">
            <blockquote>
              <ul class="list-inline service-list">
                <li class="service-list-item" ng-repeat="item in vm.details.services" ng-if="item.available">
                  <a ng-href="{{item.slug}}">{{item.service}}</a>
                </li>
              </ul>
            </blockquote>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-md-12">
            <h2 class="lead item-lead  item-meta-title"><mark>Charts and Graphs</mark></h2>
          </div>
          <div class="col-md-12">
              <ul class="list-inline chart-list">
              <blockquote ng-repeat="item in vm.details.charts" >
                <chart-list-item data="item"></chart-list-item>
              </blockquote>
              </ul>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="row vertical-padding card ">
  <div class="container-fluid">
    <div class="col-md-12">
      <h2 class="lead item-lead  item-meta-title"><mark>Tags</mark></h2>
    </div>
    <div class="col-md-12">
        <ul class="list-inline tag-list">
          <li class="tag-list-item" ng-repeat="item in vm.details.search_tags">{{item}}</li>
        </ul>
    </div>
  </div>
</div>
